body{
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat-ExtraBold", sans-serif;
}

.tab{
    margin: 0;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    height: 950px;
    background-image: url(../img/page-1_img01.jpg);
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

.content .tab {
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-top: 5px;
    border: rgb(255, 254, 212) 5px solid;
    text-align: center;
    padding: 0 40px;
}

h1{
    font-weight: bolder;
    font-size: 450%;
    margin-bottom: 40px;
}

h2 {
    font-size: 275%;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bolder;
}

.content h2 {
    font-weight: 100;
}

.logo h1 {
    font-size: 200%;
    margin-bottom: 20px;
}

.logo h2 {
    font-size: 110%;
}

.bubles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    color: #fffed4;
}

.bubles h2 {
    font-weight: bolder;
}

.blob {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    background-color: rgba(255, 254, 212, 0.18);
}

.content p {
    font-size: 125%;
}

.sub{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.sub input {
    border: #7e857b 2px solid;
    height: 60px;
    width: 400px;
    padding: 0 10px;
    background-color: transparent;
    color: #fff;
    margin: 0%;
    font-size: 130%;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
 }

.sub button{
    border: #7e857b 2px solid;
    border-left: none;
    height: 64px;
    width: 160px;
    margin: 0%;
    background-color: rgba(255, 254, 212, 0.18);
    color: #fff;
    font-weight: bolder;
}

.info {
    height: 600px;
    background-image: url(../img/page-1_img02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.info .tab {
    justify-content: space-evenly;
}

#yellow {
    color: #fffed4;
}

.info p {
    font-size: 140%;
}

.txt p {
    margin-bottom: 60px;
}

.contact {
    height: 900px;
    background-color: #fffed4;
    color: #475052;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .tab {
    justify-content: space-evenly;
}

.topform {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.contact textarea {
    resize: none;
    width: 776px;
    height: 150px;
    font-size: 16pt;
    border: rgba(71, 80, 82, 0.5) 2px solid;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
}

.contact p {
    text-align: center;
}

.contact input{
    width: 220px;
    height: 32pt;
    background-color: transparent;
    border: rgba(71, 80, 82, 0.5) 2px solid;
    font-size: 16pt;
    color: #000;
    padding: 0 10px;
}

.contact ::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(71, 80, 82, 0.65);
}

.contact button {
    width: 800px;
    height: 32pt;
    background-color: #475052;
    color: #fff;
    border: none;
    font-weight: bolder;
}

.links {
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.links img {
    height: 30px;
    width: 30px;
    opacity: 0.7;
}

@font-face {
	font-family: Montserrat-ExtraBold;
    src: url(fonts/Montserrat-ExtraBold.ttf) format("truetype"); 
    font-weight: bolder;
}